body {
    background-color: black;

}
.grid-container {
    display: grid;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 17px;
    font-weight: bold;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    color: white;
    align-items: center;
    justify-items: center;
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
}
.grid-container a {
    text-decoration: none;
    color: white;

}

.grid-container :hover .grid-item {
    font-size: 23px;
}

.grid-container .logo {
    height: 102px;
    width: 130px;
    position: relative;
    top: 2px;  
}

.grid-container :hover .logo {
    height: 125px;
    width: 167px;
    top: 5px;
}

.grid-container .logo {
    transition: all 0.2s ease-in ;
}

.grid-container :hover .grid-item {
    transition: all 0.1s ease-in
}

h2 {
    color: white;
    font-family: monospace;
    text-align: center;
}

.picture-grid {
    display: grid;
    box-sizing: border-box;
    height: 500px;
    width: 860px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 20px 20px;
    top: 0px;
    overflow: visible;
    position: relative;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.picture-grid .pic-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

   
}

.picture-grid .pic-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.picture-grid .pic-3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    display: block;
    width: 100%;
    height: auto;
   

}

.picture-grid .overlay {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    position: absolute;
    bottom: 2px;
    right: 0;
    background-color: grey;
    opacity: 0;
    height: 420px;
    width: 420px;


}
.picture-grid .text-overlay {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 20px;
    color: white;
    text-align: center ;
    opacity: 1;
    font-family: monospace;
    font-weight: bold;
    position: absolute; 
    bottom: 35%;
    left: 0%;
    background-color: grey;
    line-height: 1.5;
}

.picture-grid .text-overlay a {
    text-decoration: none;
    color: #000000;

}

.picture-grid .pic-4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.picture-grid .pic-5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.picture-grid .pic-1 :hover, .picture-grid .pic-2 :hover, .picture-grid .pic-4 :hover, .picture-grid .pic-5 :hover {
    height: 250px;
    width: 250px;
    position: relative;
}

.picture-grid .overlay:hover {
    opacity: 0.8;
    transition: all 0.25s ease-in;

    } 


.picture-grid :hover img {
    transition: all 0.5s ease;
}